<h1>Orders</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders$ | async">
        <td class="align-middle">{{ order.shipping.name }}</td>
        <td class="align-middle">{{ order.datePlaced | date}}</td>
        <td class="align-middle">
          <view-order-details [order]="order"></view-order-details>
        </td>
      </tr>
    </tbody>
  </table>
</div>
